.header {
	width: 80em;
	margin: 0 auto;
	height: 60px; 
	padding-top: 5px;
	color: #555;
	border-bottom: 1px solid #0000002b;
}

.logo {
	width: 20.5%;
	height: 44px;
	float: left;
}

.logo img {
	padding-right: 8px;
	width: 42px;
	float: left;
}

.logo h1, .logo span {
	font-weight:900;
	font-size: 24px;
}

.logo span {
	color: #65944A;
}

.logo h2 {
	font-size: 10px;
	color: rgba(0,0,0,0.5);
	position: relative;
	top: -15px;
	left: 45px;
	text-transform: none;
}

.navMenu {
	width: 60%;
	height: 60px;
	padding: 0;
	color: #555;
	float: left;
}

.navMenu a {
	font-size: 16px;
}

.navMenu ul {
	list-style: none;
}

.navMenu li {
	height: 60px;
	padding-left:20px;
	margin-left: 5px;
	padding-right: 20px;
	line-height: 60px;
	float: left;
}

.navMenu li:hover {
	background: rgba(0,0,0,0.02);
	border-bottom: 2px solid #63a62f;
	color: #63a62f;
}

.login {
	height: 28px;
	width: 14.9%;
	float: right;
	padding: 16px;
	font-size: 14px;
	color: #295480;
}

.login img {
	padding-right: 12px;
	width: 18px;
}

.login span {
	font-size: 16px;
	font-weight: 600;
}

.loginInfo, .loginControl {
	float: left;
}

.loginControl {
	padding: 5px;
    width:16px;
    height:100%;
}

.loginControl img {
	width: 10px;
	height: 10px;
} 

.loginControl:HOVER {
	cursor: pointer;
}

.loginMenu {
	float: right;
	display: none;
	position:relative; top:0px; z-index:999;
	width: 100%;
}

.loginMenu ul {
	list-style:none;
	-moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999;
}

.loginMenu ul li {
	padding: 10px;
	padding-left: 60px;
	background:#fefefe;
}

.loginMenu ul li:hover {
	background:#DFE7FF;
}

.loginMenu a {
	font-size: 14px;
		color: #295480;
}