.header {
	width: 80em;
	margin: 0 auto;
	height: 60px; 
	padding-top: 5px;
	color: #555;
	border-bottom: 1px solid #0000002b;
}

.logo {
	width: 20.5%;
	height: 44px;
	float: left;
}

.logo img {
	padding-right: 8px;
	width: 42px;
	float: left;
}

.logo h1, .logo span {
	font-weight:900;
	font-size: 24px;
}

.logo span {
	color: #65944A;
}

.logo h2 {
	font-size: 10px;
	color: rgba(0,0,0,0.5);
	position: relative;
	top: -15px;
	left: 45px;
	text-transform: none;
}

.menu {
	width: 79%;
	height: 60px;
	padding: 0;
	color: #555;
	float: left;
}

.menu a {
	font-size: 16px;
}

.menu ul {
	list-style: none;
}

.menu li {
	height: 60px;
	padding-left:20px;
	margin-left: 5px;
	padding-right: 20px;
	line-height: 60px;
	float: left;
}

.menu li:hover {
	background: rgba(0,0,0,0.02);
	border-bottom: 2px solid #63a62f;
	color: #63a62f;
}

.login {
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 8px;
	font-size: 14px;
	border-left: 2px solid #D5D5D5;
	color: #295480;
}

.login img {
	margin-top: 2px;
	padding-right: 12px;
	width: 18px;
	float: left;
}

.login span {
	font-size: 16px;
	font-weight: 600;
}