.cabecalho img {
	padding-right: 8px;
	width: 42px;
	float: left;
}

.cabecalho {
	height: 60PX;
	padding-top: 5px;
	color: #555;
}

.cabecalho h1, span {
	font-weight:900;
	font-size: 22px;
}

.cabecalho span {
	color: #65944A;
}

.cabecalho h2 {
	font-size: 10px;
	color: rgba(0,0,0,0.5);
	position: relative;
	top: -15px;
	left: 45px;
	text-transform: none;
}

.topMenu {
	padding: 0;
	height: 44px;
	color: #555;
}

.topMenu a {
	font-size: 16px;
}

.topMenu ul {
	list-style: none;

}

.topMenu li {
	padding: 10px;
	margin-right: 20px;
	float: left;
}

.topMenu li:hover {
	background: rgba(0,0,0,0.02);
	border-bottom: 2px solid #63a62f;
	color: #63a62f;
}

.login {
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 8px;
	font-size: 14px;
	border-left: 2px solid #D5D5D5;
	color: #295480;
}

.login img {
	margin-top: 2px;
	padding-right: 12px;
	width: 18px;
	float: left;
}

.login span {
	font-size: 16px;
	font-weight: 600;
}